body{
background-color: #515151;
    font-family: Arial, Helvetica, sans-serif;
    color: #515151;
    font-size: 14pt;
    
}

header{

    background-color: rgb(26,115,232);
    padding: 20px;
    border-radius: 5px;
    color: rgb(255,255,255);
}

footer{
    font-size: 18pt;
    text-align: center;
color: aliceblue;
}

main{
    max-width: 860px;
    margin-left: auto;
    margin-left: auto;
    margin-right: auto;
}

article{ 
    background-color: rgb(255,255,255);
    padding: 20px;
    margin-bottom: 20px;
    border: 1px rgb(204,204,204);
    font-size: 16px;
}

h2,h3{
    font-size: 20pt;
    font-weight: bold;
    color: rgb(26,115,232);
    margin-bottom: 10px;
}

ul{
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
    margin-right: 10px;
    }

    .nav-link{
        text-decoration: none;
        color: rgb(255,255,255);
}

nav-link:hover{
    background-color: aquamarine;

}

article:hover{
    background-color: aqua;
    transform: scale(1.05);
    transition: 0.6s ease;
}